<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Will Gibson's Personal Website</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="/assets/images/favicon_io/site.webmanifest">
    <link rel="stylesheet" href="../css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.2/css/bulma.css"
    />
    <script
      src="https://kit.fontawesome.com/0e93925fbf.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <section class="hero is-dark is-fullheight">
      <!-- Hero head: will stick at the top -->
      <div class="hero-head">
        <header class="navbar">
          <div class="container">
            <div class="navbar-brand">
              <a class="padding is-size-4" href="/">
                <img src="https://dewey.tailorbrands.com/production/brand_version_mockup_image/161/2947116161_0432e548-4ef8-43de-ba8d-87f59b687878.png" alt="" id="navbar-logo">
                <!-- <h1 class="margin">Personal Website</h1> -->
              </a>
              <span class="navbar-burger burger" data-target="navbarMenuHeroC">
                <a class="navbar-item is-active" href="/">
                  Home
                </a>
                <a class="navbar-item" href="/technologist">
                  Technoligist
                </a>
                <a class="navbar-item" href="/entrepreneur">
                  Entrepreneur
                </a>
                <a class="navbar-item" href="/investor">
                  Investor
                </a>
                <span class="navbar-item">
                  <a class="button is-black is-inverted is-outlined is-normal" href="mailto:will.gibson7@gmail.com">
                    <span>Contact</span>
                  </a>
                </span>
              </span>
            </div>
            <div id="navbarMenuHeroC" class="navbar-menu">
              <div class="navbar-end">
                <a class="navbar-item is-active" href="/">
                  Home
                </a>
                <a class="navbar-item" href="/technologist">
                  Technoligist
                </a>
                <a class="navbar-item" href="/entrepreneur">
                  Entrepreneur
                </a>
                <a class="navbar-item" href="/investor">
                  Investor
                </a>
                <span class="navbar-item">
                  <a class="button is-black is-inverted is-outlined is-normal" href="mailto:will.gibson7@gmail.com">
                    <span>Contact</span>
                  </a>
                </span>
              </div>
            </div>
          </div>
        </header>
      </div>

      <!-- Hero content: will be in the middle -->
      <div class="hero-body">
        <div class="column is-4"></div>
          <div class="column box has-background-grey-darker">
            <div class="column">
              <a
                href="https://www.linkedin.com/in/wtgibson/"
                target="_blank"
                class="column is-full is-centered button is-large is-fullwidth is-inverted is-outlined is-dark"
              >
                <span class="icon is-medium">
                  <i class="fab fa-linkedin"></i>
                </span>
                <span>LinkedIn</span>
              </a>
            </div>

            <br />

            <div class="column">
              <div class="tile is-12">
                  <article class="tile box is-child notification is-light">
                    <h1 class="title has-text-dark has-text-centered">Contact</h1>
                    <div class="container">
                      <figure class="is-flex is-horizontal-center">
                        <img src="assets/images/personal/under-construction.png" class="box" id="about-picture"/>                        
                      </figure>
                    </div>
                  </article>
                </div>
              </div>

            <br />

            <div class="column">
              <a
                href="https://github.com/wtgibson"
                target="_blank"
                class="column is-full is-centered button is-large is-fullwidth is-inverted is-outlined is-dark"
              >
                <span class="icon is-medium">
                  <i class="fab fa-github"></i>
                </span>
                <span>GitHub</span>
              </a>
            </div>
          </div>
        <div class="column is-4"></div>
      </div>

      <!-- Hero footer: will stick at the bottom -->
      <div class="hero-foot">
        <nav class="tabs is-boxed is-fullwidth">
          <div class="container">
            <ul>
              <li><a href="/about">About</a></li>
              <li><a href="/education">Education</a></li>
              <li><a href="/work">Work Experience</a></li>
              <li><a href="/web-development">Web Development Portfolio</a></li>
              <li><a href="/skills">Skills</a></li>
              <li><a href="/interests">Interests</a></li>
              <li><a href="/resume">Resume</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </section>
    <script type="text/javascript" src="../js/main.js"></script>
  </body>
</html>
