<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Will Gibson's Personal Website</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="/assets/images/favicon_io/site.webmanifest">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.2/css/bulma.css"/>
    <script src="https://kit.fontawesome.com/0e93925fbf.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <section class="hero is-dark is-fullheight">
      <!-- Hero head: will stick at the top -->
      <div class="hero-head">
        <header class="navbar">
          <div class="container">
            <div class="navbar-brand">
              <a class="padding is-size-4" href="/">
                <img src="https://dewey.tailorbrands.com/production/brand_version_mockup_image/161/2947116161_0432e548-4ef8-43de-ba8d-87f59b687878.png" alt="" id="navbar-logo">
                <!-- <h1 class="margin">Personal Website</h1> -->
              </a>
              <span class="navbar-burger burger" data-target="navbarMenuHeroC">
                <a class="navbar-item is-active" href="/">
                  Home
                </a>
                <a class="navbar-item" href="/technologist">
                  Technoligist
                </a>
                <a class="navbar-item" href="/entrepreneur">
                  Entrepreneur
                </a>
                <a class="navbar-item" href="/investor">
                  Investor
                </a>
                <span class="navbar-item">
                  <a class="button is-black is-inverted is-outlined is-normal" href="mailto:will.gibson7@gmail.com">
                    <span>Contact</span>
                  </a>
                </span>
              </span>
            </div>
            <div id="navbarMenuHeroC" class="navbar-menu">
              <div class="navbar-end">
                <a class="navbar-item is-active" href="/">
                  Home
                </a>
                <a class="navbar-item" href="/technologist">
                  Technoligist
                </a>
                <a class="navbar-item" href="/entrepreneur">
                  Entrepreneur
                </a>
                <a class="navbar-item" href="/investor">
                  Investor
                </a>
                <span class="navbar-item">
                  <a class="button is-black is-inverted is-outlined is-normal" href="mailto:will.gibson7@gmail.com">
                    <span>Contact</span>
                  </a>
                </span>
              </div>
            </div>
          </div>
        </header>
      </div>
      
      <!-- Hero content: will be in the middle -->
      <div class="hero-body">
        <div class="column is-1"></div>
        <div class="has-background-grey-darker column">
          <div class="column">
            <a href="https://www.linkedin.com/in/wtgibson/" target="_blank" class="column is-full is-centered button is-large is-fullwidth is-inverted is-outlined is-dark">
              <span class="icon is-medium">
                <i class="fab fa-linkedin"></i>
              </span>
              <span>LinkedIn</span>
            </a>
          </div>

          <br>

          <div class="column">
            <div class="tile is-ancestor">
              <div class="tile is-vertical is-12">
                <div class="tile">
                  
                  <div class="tile is-parent is-vertical">
                    <article class="tile box is-child notification is-light has-text-centered">
                      <p class="title has-text-dark">JobKit</p>
                      <figure class="image is-4by3">
                        <a href="https://job-kit.herokuapp.com/" target="_blank"><img src="/assets/images/web-dev-portfolio/jobkit-2.png" class="box"></a>
                      </figure>
                      <br>
                      <p class="subtitle has-text-dark is-invisible">Description</p>
                      <br>
                      <a href="https://github.com/wtgibson/job-kit" target="_blank" class="button">
                        <span class="icon">
                          <i class="fab fa-github"></i>
                        </span>
                        <span>GitHub</span>
                      </a>
                    </article>

                    <article class="tile box is-child notification is-light has-text-centered">
                      <p class="title has-text-dark">GameBoard</p>
                      <figure class="image is-4by3">
                        <a href="https://popsizzle.github.io/API-Group-Project/" target="_blank"><img src="/assets/images/web-dev-portfolio/gameboard-2.png" class="box"></a>
                      </figure>
                      <br>
                      <p class="subtitle has-text-dark is-invisible">Description</p>
                      <br>
                      <a href="https://github.com/PopSizzle/API-Group-Project" target="_blank" class="button">
                        <span class="icon">
                          <i class="fab fa-github"></i>
                        </span>
                        <span>GitHub</span>
                      </a>
                    </article>
                  </div>


                  <div class="tile is-parent is-vertical">
                    <article class="tile box is-child notification is-light has-text-centered">
                      <p class="title has-text-dark">Puppy Memory Game</p>
                      <figure class="image is-4by3">
                        <a href="https://wtgibson.github.io/18-clicky-game/" target="_blank"><img src="/assets/images/web-dev-portfolio/puppy-clicky-game.png" class="box"></a>
                      </figure>
                      <br>
                      <p class="subtitle has-text-dark is-invisible">Description</p>
                      <br>
                      <a href="https://github.com/wtgibson/18-clicky-game" target="_blank" class="button">
                        <span class="icon">
                          <i class="fab fa-github"></i>
                        </span>
                        <span>GitHub</span>
                      </a>
                    </article>

                    <article class="tile box is-child notification is-light has-text-centered">
                      <p class="title has-text-dark">Fitness Tracker</p>
                      <figure class="image is-4by3">
                        <a href="https://fitness-tracker-wtg.herokuapp.com/" target="_blank"><img src="/assets/images/web-dev-portfolio/stats.png" class="box"></a>
                      </figure>
                      <br>
                      <p class="subtitle has-text-dark is-invisible">Description</p>
                      <br>
                      <a href="https://github.com/wtgibson/17-fitness-tracker" target="_blank" class="button">
                        <span class="icon">
                          <i class="fab fa-github"></i>
                        </span>
                        <span>GitHub</span>
                      </a>
                    </article>
                  </div>

                  <div class="tile is-parent is-vertical">
                    <article class="tile box is-child notification is-light has-text-centered">
                      <p class="title has-text-dark">Note Taker</p>
                      <figure class="image is-4by3">
                        <a href="https://note-taker-wtg.herokuapp.com/" target="_blank"><img src="/assets/images/web-dev-portfolio/note-taker-2.png" class="box"></a>
                      </figure>
                      <br>
                      <p class="subtitle has-text-dark is-invisible">Description</p>
                      <br>
                      <a href="https://github.com/wtgibson/11-note-taker" target="_blank" class="button">
                        <span class="icon">
                          <i class="fab fa-github"></i>
                        </span>
                        <span>GitHub</span>
                      </a>
                    </article>

                    <article class="tile is-child notification is-light has-text-centered">
                      <p class="title has-text-dark">Work Day Scheduler</p>
                      <figure class="image is-4by3">
                        <a href="https://wtgibson.github.io/5-work-day-scheduler/" target="_blank"><img src="/assets/images/web-dev-portfolio/work-day-scheduler-3.png" class="box"></a>
                      </figure>
                      <br>
                      <p class="subtitle has-text-dark is-invisible">Description</p>
                      <br>
                      <a href="https://github.com/wtgibson/5-work-day-scheduler" target="_blank" class="button">
                        <span class="icon">
                          <i class="fab fa-github"></i>
                        </span>
                        <span>GitHub</span>
                      </a>
                    </article>
                  </div>

                  <div class="tile is-parent is-vertical">
                    <article class="tile is-child notification is-light has-text-centered">
                      <p class="title has-text-dark">Weather Dashboard</p>
                      <figure class="image is-4by3">
                        <a href="https://wtgibson.github.io/6-weather-dashboard/" target="_blank"><img src="/assets/images/web-dev-portfolio/weather-dashboard-3.png" class="box"></a>
                      </figure>
                      <br>
                      <p class="subtitle has-text-dark is-invisible">Description</p>
                      <br>
                      <a href="https://github.com/wtgibson/6-weather-dashboard" target="_blank" class="button">
                        <span class="icon">
                          <i class="fab fa-github"></i>
                        </span>
                        <span>GitHub</span>
                      </a>
                    </article>

                    <article class="tile is-child notification is-light has-text-centered">
                      <p class="title has-text-dark">Car Quiz</p>
                      <figure class="image is-4by3">
                        <a href="https://wtgibson.github.io/4-code-quiz/" target="_blank"><img src="/assets/images/web-dev-portfolio/car-quiz-2.png" class="box"></a>
                      </figure>
                      <br>
                      <p class="subtitle has-text-dark is-invisible">Description</p>
                      <br>
                      <a href="https://github.com/wtgibson/4-code-quiz" target="_blank" class="button">
                        <span class="icon">
                          <i class="fab fa-github"></i>
                        </span>
                        <span>GitHub</span>
                      </a>
                    </article>
                  </div>

                </div>
              </div>
            </div>
          </div>

          <br>

          <div class="column">
            <a href="https://github.com/wtgibson" target="_blank" class="column is-full is-centered button is-large is-fullwidth is-inverted is-outlined is-dark">
              <span class="icon is-medium">
                <i class="fab fa-github"></i>
              </span>
              <span>GitHub</span>
            </a>
          </div>

        </div>
        <div class="column is-1"></div>
      </div>
      
      <!-- Hero footer: will stick at the bottom -->
      <div class="hero-foot">
        <nav class="tabs is-boxed is-fullwidth">
          <div class="container">
            <ul>
              <li><a href="/about">About</a></li>
              <li><a href="/education">Education</a></li>
              <li><a href="/work">Work Experience</a></li>
              <li class="is-active"><a href="/web-development">Web Development Portfolio</a></li>
              <li><a href="/skills">Skills</a></li>
              <li><a href="/interests">Interests</a></li>
              <li><a href="/resume">Resume</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </section>
    <script type="text/javascript" src="lib/main.js"></script>
  </body>
</html>
