.hero-body {
    background-image: url(https://baycityguide.com/media/00PU000000EkWTuMAN/Financial-District-from-Coit-Tower1500x872.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#navbar-logo {
    width: 55% !important;
    height: 80% !important;
    max-height: none;
}

#about-picture {
    width: 100% !important;
    height: 45% !important;
    max-height: none;
}
center {
    margin: auto;
}